/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/methsnp -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    executor = 'slurm'

    withName: 'SAMTOOLS_FAIDX' {
        container = "${baseDir}/images/common_tools.sif"
        cpus = 8
        memory = '16GB'
        time = '1h'
        queue = 'cn-long'
    }

    withName: 'SAMTOOLS_INDEX_*' {
        container = "${baseDir}/images/common_tools.sif"
        cpus = 8
        memory = '16GB'
        time = '1h'
        queue = 'cn-long'
    }

    withName: 'SAMTOOLS_CONVERT' {
        container = "${baseDir}/images/common_tools.sif"
        cpus = 8
        memory = '16GB'
        time = '12h'
        queue = 'cn-long'
        ext.args = '-C'
    }

    withName: 'SAMTOOLS_INTERSECT' {
        container = "${baseDir}/images/common_tools.sif"
        cpus = 8
        memory = '16GB'
        time = '12h'
        queue = 'cn-long'
    }

    withName: 'REVELIO' {
        container = "${baseDir}/images/common_tools.sif"
        cpus = 8
        memory = '16GB'
        time = '12h'
        queue = 'cn-long'
    }

    withName: 'GATK4_CREATESEQUENCEDICTIONARY' {
        container = "${baseDir}/images/gatk_4.6.1.0.sif"
        cpus = 8
        memory = '16GB'
        time = '1h'
        queue = 'cn-long'
    }

    withName: 'GATK4_HAPLOTYPECALLER' {
        container = "${baseDir}/images/gatk_4.6.1.0.sif"
        cpus = 32
        memory = '64GB'
        time = '12h'
        queue = 'cn-long'
        ext.args = '--interval-padding 0 --max-reads-per-alignment-start 0 --min-base-quality-score 10'
    }

    // VCF
    withName: 'BCFTOOLS_STATS' {
        container = "${baseDir}/images/common_tools.sif"
        cpus = 16
        memory = '32GB'
        time = '12h'
        queue = 'cn-long'
    }

    withName: 'VCFTOOLS_.*' {
        container = "${baseDir}/images/common_tools.sif"
        cpus = 8
        memory = '16GB'
        time = '12h'
        queue = 'cn-long'
    }

    withName: 'VCFTOOLS_TSTV_COUNT' {
        ext.args   = { '--TsTv-by-count --bed' }
    }

    withName: 'VCFTOOLS_TSTV_QUAL' {
        ext.args   = { '--TsTv-by-qual --bed' }
    }

    withName: 'VCFTOOLS_SUMMARY' {
        ext.args   = { '--FILTER-summary --bed' }
    }
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input  = params.pipelines_testdata_base_path + 'samplesheet.csv'
    outdir = params.pipelines_testdata_base_path + 'results'
    reference = params.pipelines_testdata_base_path + 'hg38_only_chromsomes.fa'
    region = params.pipelines_testdata_base_path + 'dmrs.bed'
}

profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = '--bind /lustre1,/lustre2,/appsnew'
    }
}
